:root {
  --background-color: #e7f1f1;
  --font-family-default: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--font-family-default);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-family-default);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  transition: width 0.5s ease, height 0.5s ease;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

.saved-palettes-section {
  height: 100%;
  border-left: 5px solid black;
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: fit-content;
  transition: flex 0.5s ease, border-left 0.5s ease;
  overflow-y: auto;
}

.saved-palettes-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-size: 4em;
  margin-bottom: 50px;
  text-align: center;
  transition: font-size 0.5s ease, margin-bottom 0.5s ease;
}

h2 {
  margin: 5px;
  font-size: 2em;
}

h2,
#no-saved-palettes {
  text-align: center;
}

.main-palette {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px 20px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  transition: padding 0.5s ease, gap 0.5s ease;
}

.main-color-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  position: relative;
  transition: width 0.5s ease;
}

.main-color {
  width: 110px;
  height: 110px;
  border: 3px solid #000;
  transition: width 0.5s ease, height 0.5s ease;
}

.color-text {
  margin-top: 5px;
  font-size: 1em;
  text-align: center;
  transition: font-size 0.5s ease, margin-top 0.5s ease;
}

.button-box {
  margin-top: 10px;
  display: flex;
  gap: 50px;
  transition: margin-top 0.5s ease, gap 0.5s ease;
}

.palette-button {
  font-size: 1.2em;
  color: #ffffff;
  background: #000000;
  font-weight: 200;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 3px 40px;
  cursor: pointer;
  transition: font-size 0.5s ease, padding 0.5s ease;
}

.lock-button {
  position: absolute;
  bottom: 30px;
  right: 0px;
  border: none;
  background: none;
  cursor: pointer;
  transition: bottom 0.5s ease;
}

.lock-button:focus,
.favorite-button:hover {
  outline: none;
}

.lock-button:active .locked-icon,
.lock-button:active .unlocked-icon {
  transform: scale(0.9);
}

.locked-icon,
.unlocked-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease, width 0.5s ease, height 0.5s ease;
}

.saved-palette {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  transition: padding 0.5s ease, gap 0.5s ease;
  cursor: pointer;
}

.saved-color {
  border: 3px solid #000;
  height: 40px;
  width: 40px;
}

.delete-button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: var(--background-color);
  cursor: pointer;
  font-size: 32px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  align-content: center;
}

.hidden {
  display: none;
}

.palette-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  transition: padding 0.5s ease, gap 0.5s ease;
  cursor: pointer;
  align-items: center;
  position: relative;
  margin: 10px 0;
}

.palette-name-input,
.search-palettes-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.palette-name-input:focus,
.search-palettes-input:focus {
  outline: 2px solid #000;
}

.palette-name-input {
  width: 300px;
  margin: 30px;
  text-align: center;
}

.search-palettes-input {
  width: 265px;
  margin: 5px;
  box-sizing: border-box;
}

.saved-palettes {
  padding-top: 10px;
}

.palette-info-tooltip {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: #000;
  padding-left: 10px;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 24px;
  z-index: 10;
  opacity: 0;
  transition: left 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}

.palette-container.has-name:hover .palette-info-tooltip {
  opacity: 1;
}

.palette-container.has-name:hover .palette-info-tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: var(--background-color) transparent transparent transparent;
}

/* Media Queries for Responsiveness */
@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  h2 {
    margin: 0px;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
  }

  .saved-palettes-section {
    border-top: 5px solid black;
    border-left: 0px;
    overflow-x: auto;
  }

  .main-section {
    width: 100vw;
    height: 67vh;
    align-self: center;
  }

  .color-text {
    font-size: 1em;
  }

  .saved-palettes-container {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 20px;
  }

  .saved-palettes {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    height: 90%;
    width: fit-content;
    max-width: 100vw;
    overflow: visible;
    padding-left: 20px;
    padding-top: 0px;
  }

  .saved-palette {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: auto;
    padding: 0px;
  }

  .main-color-box {
    width: 100px;
  }

  .main-color {
    width: 100px;
    height: 100px;
  }

  .palette-container {
    padding-right: 5px;
    align-items: normal;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    text-wrap: nowrap;
  }

  .search-palettes-input {
    max-width: 255px !important;
    margin: 10px !important;
  }
}

@media (max-width: 800px) {
  .saved-color {
    border: 3px solid #000;
    height: 35px;
    width: 35px;
    transition: padding 0.5s ease, gap 0.5s ease;
  }

  .delete-button {
    height: 35px;
    width: 35px;
    font-size: 28px;
    transition: padding 0.5s ease, gap 0.5s ease;
  }
}

@media (max-width: 600px) {
  .palette-info-tooltip {
    left: 0;
    transform: translateX(0);
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .palette-info-tooltip {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 3em;
  }

  .main-section {
    width: 100vw;
  }

  .main-color-box {
    width: 85px;
  }

  .main-color {
    width: 85px;
    height: 85px;
  }

  .color-text {
    font-size: 0.7em;
  }

  h2 {
    font-size: 1.5em;
  }

  .button-box {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .main-palette {
    padding: 0px 20px;
  }

  .locked-icon,
  .unlocked-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease, width 0.5s ease, height 0.5s ease;
  }

  .lock-button {
    bottom: 25px;
  }
}

@media (max-width: 450px) {
  .main-color-box {
    width: 70px;
  }

  .main-color {
    width: 70px;
    height: 70px;
  }

  .lock-button {
    bottom: 22px;
  }

  .search-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    text-wrap: nowrap;
  }
}

@media (max-width: 380px) {
  .main-section {
    width: 100vw;
  }

  .main-color-box {
    width: 60px;
  }

  .main-color {
    width: 50px;
    height: 50px;
  }

  .color-text {
    font-size: 0.7em;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .main-palette {
    padding: 0px 20px;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
